<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
<!-- The CSS package above applies Google styling to buttons and other elements. -->

<style>
.clearArea {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}
</style>
<script>

	var userSettings = {};
	var documentSettings = {};
	
	function save() {
		userSettings.userName = $('#user').val();
		userSettings.apiKey = $('#api').val();
		userSettings.autoLoad = $('#autoLoad').is(':checked');
		        
		google.script.run.withSuccessHandler(function() {
			
		}).withFailureHandler(function(msg, element) {
			showError(msg, $('#button-bar'));
		}).withUserObject(this).setUserProperties(userSettings);

		documentSettings.insertLinks = $('#insertLinks').is(':checked');
		documentSettings.bibliographySortType = $('#bibType').val();
		documentSettings.abbreviateFirstName = $('#abbreviate').is(':checked');

		google.script.run.withSuccessHandler(function() {
			google.script.host.close();
		}).withFailureHandler(function(msg, element) {
			showError(msg, $('#button-bar'));
		}).withUserObject(this).setDocumentProperties(documentSettings);
	}

	function load() {
		google.script.run.withSuccessHandler(
		    function(props) {
		    	userSettings = props;
		    	setUserName(userSettings.userName);
		    	setApiKey(userSettings.apiKey);
		    	setAutoLoad(userSettings.autoLoad);
		  }).getUserProperties();

		google.script.run.withSuccessHandler(
		    function(props) {
		    	documentSettings = props;
		    	setInsertLinks(documentSettings.insertLinks);
		    	setBibType(documentSettings.bibliographySortType)
		    	setAbbreviate(documentSettings.abbreviateFirstName);
		  }).getDocumentProperties();
	}

	function setUserName(name) {
		$('#user').val(name)
	}

	function setApiKey(apiKey) {
		$('#api').val(apiKey)
	}
    
	function setAutoLoad(checked) {
		$('#autoLoad').prop('checked',checked == 'true')
	}
	
	function setInsertLinks(insertLinks) {
		$('#insertLinks').prop('checked',insertLinks == 'true')
	}

	function setAbbreviate(abbreviate) {
		$('#abbreviate').prop('checked',abbreviate == 'true')
	}
	
	function setBibType(type) {
		$('#bibType').val(type);
	}
	
	load();
</script>
<div>
	<fieldset class="clearArea">
		<legend>User settings</legend>
		User name
		<div class="clearArea">
			<input type="text" id="user" value="" />
		</div>
		API-Key
		<div class="clearArea">
			<input type="text" id="api" value="" />
		</div>
		<div class="clearArea">
			<input type="checkbox" id="autoLoad" checked>Automatically load my own publications<br>
		</div>
	</fieldset>
	<fieldset class="clearArea">
		<legend>Document settings</legend>
		Bibliography order
		<div class="clearArea">
	      <select id="bibType">
			  <option value="pos" selected>Occurance in document</option>
			  <option value="name">Author name</option>
		  </select>
		</div>
		
		<div class="clearArea">
			<input type="checkbox" id="insertLinks" checked>Insert links to bibliography<br>
		</div>
		
		<div class="clearArea">
			<input type="checkbox" id="abbreviate" checked>Abbreviate first name of authors<br>
		</div>
	</fieldset>
	
	<input type="button" id="save" class="blue" value="Save settings" onclick="save()" />
	<input type="button" id="close" value="Cancel"
		onClick="google.script.host.close()" />
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>