<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons.css">
<!-- The CSS package above applies Google styling to buttons and other elements. -->

<style>
.branding-below {
  bottom: 56px;
  top: 0;
}

.branding-text {
  left: 7px;
  position: relative;
  top: 3px;
}

.col-contain {
  overflow: hidden;
}

.logo {
  vertical-align: middle;
}

.radio-spacer {
  height: 20px;
}

.width-100 {
  width: 100%;
}

.cite-link {
  float: right;
  padding-left: 1px;
}

.citeDiv { width: 40px; float: left}

.ui-helper-hidden-accessible { display:none; }

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active, .ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}


.go-button {
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  min-width: 0;
  margin: 0;
  outline: 0;
  text-align: center;
  white-space: nowrap;
}


#sortable1 { list-style-type: none; margin-top: 4px; margin-bottom: 0px; margin-right: 10px; }
#sortable1 ul { list-style: none; }
#sortable1 li { display: inline; }

#sortable1 li {
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  outline: 0;
  padding: 2px 8px;
  text-align: center;
  white-space: nowrap;
}
</style>

<div class="sidebar branding-below">
  <div class="block" id="button-bar">
    <button class="blue" id="createBibliography" disabled>Create bibliography</button>
    <button id="settings" disabled>Settings</button>
  </div>
  <p><center><button class="blue" id="fetchDataFromBibsonomy" hidden>Connect</button></center>
  <p>
  <form>
    <div class="ui-widget" id="results">
      <select id="searchType" style="min-width:0;" disabled>
		  <option value="own" selected>Own</option>
		  <option value="public">Public</option>
		  <option value="user">User</option>
	  </select>
      <input type="text" id="search" placeholder="Search terms" size="16" disabled>
      <button id="go" class="go-button" disabled>Go</button>
      <input type="text" id="userName" placeholder="User name" disabled hidden>
      <hr/>
      <div>
        <ul id="sortable1" class="connectedSortable">
          <li class="sort-title sort-asc">Title ↑</li>
          <li class="sort-author sort-asc">Author ↑</li>
          <li class="sort-year sort-asc">Year ↑</li>
        </ul>
      </div>
      <hr />
      <div class="block form-group width-100" id="resultList"></div>
    </div>
  </form>
</div>

<!-- APP LOGO -->
<div class="sidebar bottom">
  <img alt="Add-on logo" class="logo" width="27" height="27"
      src="https://googledrive.com/host/0B0G1UdyJGrY6XzdjQWF4a1JYY1k/translate-logo-small.png">
  <span class="gray branding-text">JSON Fetch from <a href="http://www.bibsonomy.org">BibSonomy</a></span><br/>
  <b><label id="documentsLoaded">Documents: 0</label></b>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<?!= include("Sidebar.js"); ?>